 <nav>
        <div class="nav-wrapper">
          <a href="#" class="brand-logo right">Car App</a>
          <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a href="/mygarage">View My Garage</a></li>
          <li><a href="/signin">Sign In</a></li>
          </ul>
        </div>
      </nav>
      <div class="container">
            <div class="row">
                <h1 class="col s12 center">Welcome to our Car App!</h1>
                <h2 class="col s6 center">Find a Car</h2>
                <div class="row">
                    <select class="col s2 browser-default">
                        <option value="" disabled selected>Year</option>
                        <option value="1">2019</option>
                        <option value="2">2018</option>
                        <option value="3">2017</option>
                      </select>
                      <select class="col s2 browser-default">
                        <option value="" disabled selected>Make</option>
                        <option value="1">Option 1</option>
                        <option value="2">Option 2</option>
                        <option value="3">Option 3</option>
                      </select>
                      <select class="col s2 browser-default">
                        <option value="" disabled selected>Model</option>
                        <option value="1">Option 1</option>
                        <option value="2">Option 2</option>
                        <option value="3">Option 3</option>
                      </select>
                </div>
              </section>
            </div>
        </div>
