<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo center">Car App</a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
    </ul>
  </div>
</nav>
<div class="container">
  <div class="row">
    <h1 class="col s12 center">Welcome to our Car App!</h1>
    <h5 class="col s6 center">Find a Car</h5>
    <div class="row">
      <select class="col s2 browser-default">
        <option value="" disabled selected>Year</option>
        <option value="1">2019</option>
        <option value="2">2018</option>
        <option value="3">2017</option>
      </select>
      <select class="col s2 browser-default">
        <option value="" disabled selected>Make</option>
        <option value="1">Option 1</option>
        <option value="2">Option 2</option>
        <option value="3">Option 3</option>
      </select>
      <select class="col s2 browser-default">
        <option value="" disabled selected>Model</option>
        <option value="1">Option 1</option>
        <option value="2">Option 2</option>
        <option value="3">Option 3</option>
      </select>
    </div>

    <div class="row">


      <div class="col s6 searchList">
      <h3>Previous searches </h3>
      <ul>

        <li>previous search 1 </li>
        <li>previous search 2 </li>
        <li>previous search 3 </li>
      </ul>
    </div>


  <div class="col s6 carInfoBox">
     <H3>car info</H3>
    <ul>

        <li>ca info 1 </li>
        <li>ca info 2 </li>
        <li>ca info 3 </li>
      </ul>
    </div>


    </div>

    </section>
  </div>
</div>