<nav class="green lighten-2">
  <div class="nav-wrapper">
    <a href="#" class="brand-logo center">Car Amplify</a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
    </ul>
  </div>
</nav>

<main class="container">
  <div id="index-banner">
    <div class="section">
      <br><br>
      <h1 class="header center green-text text-lighten-2">Welcome to Car Amplify!</h1>
      <div class="row center">
        <h3 id="description">Description</h3>
        <p class="light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem neque cum fuga illo? Veritatis
          ut
          veniam omnis quas ex, similique quos nulla provident nesciunt dolor, error eos vitae sed modi. Lorem, ipsum
          dolor sit amet consectetur adipisicing elit. Impedit tempore, dolores vitae similique vero soluta voluptatum
          magni asperiores ea distinctio accusamus perspiciatis fugit aperiam porro itaque harum cumque, provident fuga.
        </p>
      </div>
    </div>
  </div>

  <div id="findACar" class="container">
    <div class="row center">
      <div class="input-field col s12">
        <h3 id="findCar" class="col s12">Find a Car</h3>
        <h5 id="date" class="center"></h5>
        <br>
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">keyboard_arrow_down</i></h2>
            <h5 class="center">Enter the car's Make</h5>
            <select id="make" class="browser-default">
              <option value="" disabled selected>Make</option>
            </select>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">keyboard_arrow_down</i></h2>
            <h5 class="center">Enter the car's Model</h5>
            <select id="model" class="browser-default">
              <option value="" disabled selected>Model</option>
            </select>
            <button id="searchButton" class="btn waves-effect waves-light green lighten-2" type="submit"
              name="action">Go!
              <i class="material-icons right">send</i>
            </button>
            <button id="resetBtn" type="reset" class="searchButton">reset</button>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">done</i></h2>
            <h5 class="center">Enter the car's Year</h5>
            <select id="year" class="browser-default">
              <option value="" disabled selected>Year</option>
              <option value="2020">2020</option>
              <option value="2019">2019</option>
              <option value="2018">2018</option>
              <option value="2017">2017</option>
              <option value="2016">2016</option>
              <option value="2015">2015</option>
              <option value="2014">2014</option>
              <option value="2013">2013</option>
              <option value="2012">2012</option>
              <option value="2011">2011</option>
              <option value="2010">2010</option>
              <option value="2009">2009</option>
              <option value="2008">2008</option>
              <option value="2007">2007</option>
              <option value="2006">2006</option>
              <option value="2005">2005</option>
              <option value="2004">2004</option>
              <option value="2003">2003</option>
              <option value="2002">2002</option>
              <option value="2001">2001</option>
              <option value="2000">2000</option>
              <option value="1999">1999</option>
              <option value="1998">1998</option>
              <option value="1997">1997</option>
              <option value="1996">1996</option>
              <option value="1995">1995</option>
              <option value="1994">1994</option>
              <option value="1993">1993</option>
              <option value="1992">1992</option>
              <option value="1991">1991</option>
              <option value="1990">1990</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s6 searchList">
      <h3>Previous searches </h3>
      <div class="pictureDiv">
        <img src="">
      </div>
      <ol class="previousSearchesList">
      </ol>
    </div>
    <div class="col s6 carInfoBox">
      <H3>car info</H3>
      <div class="carInfoDiv">
      </div>
    </div>
  </div>
  </section>
  </div>
  </div>

  {{!-- <section id="prevSearches" class="container center">
    <div class="section">
      <div class="row">
        <div class="col s6 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">search</i></h2>
            <h5 class="center">Previous Searches</h5>

            <ul>

              <li id="search1"> Previous Search 1 </li>
              <li id="search2"> Previous Search 2 </li>
              <li id="search3"> Previous Search 3 </li>
            </ul>
          </div>
        </div>
        <div id="carInfo" class="col s6 m8 center">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">info</i></h2>
            <h5 class="center">Car Info</h5>

            <ul>

              <li id="carName">Name: </li>
              <li id="carYear">Year: </li>
              <li id="carModel">Model: </li>
              <li id="carMake">Make: </li>
              <li id="carSpecs">Specs: </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section> --}}
</main>

<footer class="page-footer green lighten-2">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2020 Car Amplify
      <a class="grey-text text-lighten-4 right" href="https://github.com/cfech/NewProject2">Link to GitHub
        Repository</a>
    </div>
  </div>
</footer>