<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo right">Car App</a>
    <a href="/mygarage">View My Garage</a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><a href="/">Home</a></li>

    </ul>
  </div>
</nav>


<h1>Garage</h1>

<div class="input-field col s12">
  <select>
    <option value="" disabled selected>Choose your option</option>
    <option value="1">Option 1</option>
    <option value="2">Option 2</option>
    <option value="3">Option 3</option>
  </select>
  <label>Materialize Select</label>
</div>
<main>



  <div class="row">
    <div class="input-field col s12">

      <select>
        <option value="" disabled selected>Choose car make</option>
        <option value="1">Acura</option>
        <option value="2">Bentley</option>
        <option value="3">Cadillac</option>
        <option value="3">Ferrari</option>
        <option value="3">Honda</option>
        <option value="3">Jeep</option>
        <option value="3">Lexus</option>
        <option value="3">Mercedes-Benz</option>
        <option value="3">Nissan</option>
        <option value="3">Subaru</option>
        <option value="3">Volkswagen</option>
      </select>
      {{!-- <label>My Garage</label> --}}

    </div>
  </div>



  <div class="input-field col s12 m6">
    <select class="icons">
      <option value="" disabled selected>Choose your option</option>
      <option value="" data-icon="images/sample-1.jpg">Acura</option>
      <option value="" data-icon="images/office.jpg">Cadillac</option>
      <option value="" data-icon="images/yuna.jpg">Ferrari</option>
      <option value="" data-icon="images/sample-1.jpg">Honda</option>
      <option value="" data-icon="images/office.jpg">Jeep</option>
      <option value="" data-icon="images/yuna.jpg">Lexus</option>
      <option value="" data-icon="images/sample-1.jpg">Subaru</option>
      <option value="" data-icon="images/office.jpg">Volkswagen</option>
      <option value="" data-icon="images/yuna.jpg">Ferrari</option>
      <option value="" data-icon="images/office.jpg">Cadillac</option>
      <option value="" data-icon="images/yuna.jpg">Mercedes-Benz</option>

    </select>
    <label>Images in select</label>
  </div>

</main>