 <nav>
        <div class="nav-wrapper">
          <a href="#" class="brand-logo right">Car App</a>
          <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a href="/">Home</a></li>
           
          </ul>
        </div>
      </nav>

<p>my garage</p>

